

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/user_service?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: qwe123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate

    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

    open-in-view: false

logging:
  level:
    org.hibernate.sql: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

server:
  port: 8081
